<h1> Majors </h1>
<h2>School of Business Undergraduate Programs</h2>
<p> <%= link_to "Accounting", accounting_path %></p> 
<p>Computer Information Systems</p>
<p>Finance</p>
<p>Finance: Risk Management & Insurance and Actuarial Science</p>
<p>International Business</p>
<p>Management</p>
<p>Management: Hospitality</p>
<p>Marketing</p>
<p>Supply Chain Management</p>
  <p1>
    
