<h1> Majors </h1>
<p1>
  <p>School of Business Undergraduate Programs</p>
<p>Accounting</p>
<p>Computer Information Systems</p>
<p>Finance</p>
<p>Finance: Risk Management & Insurance and Actuarial Science</p>
<p>International Business</p>
<p>Management</p>
<p>Management: Hospitality</p>
<p>Marketing</p>
<p>Supply Chain Management</p>
  <p1>
    
